<%- include ("../partials/before-header") %>
<%- include ("../partials/header") %>
<%- include ("../partials/navigation") %>

<main>
    <article>
        <h2>Contact us</h2>
        <form>
            <textarea name="message" id="message" cols="30" rows="10">Write us something...</textarea>
        </form>
        <button type="submit">Submit</button>
    </article>
</main>

<%- include ("../partials/footer") %>
<%- include ("../partials/after-footer") %>