<%- include ("../partials/before-header") %>
<%- include ("../partials/header") %>
<%- include ("../partials/navigation") %>

<main>
    <article>
        <h2>Welcome to my cool webshop</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta non explicabo officiis optio, tempora vero blanditiis cumque a repellendus aperiam voluptates repellat eaque, sequi sunt natus eveniet. Possimus, animi iure!</p>
        <img src="img/jesus.jpg" alt="Jesus Christ">
    </article>
</main>

<%- include ("../partials/footer") %>
<%- include ("../partials/after-footer") %>
