<%- include ("../partials/before-header") %>
<%- include ("../partials/header") %>
<%- include ("../partials/navigation") %>

<main>
    <article>
        <h2>List of cool products</h2>
        <ul>
            <li>Product 1</li>
            <li>Product 2</li>
            <li>Product 3</li>
            <li>Product 4</li>
            <li>Product 5</li>
        </ul>
    </article>
</main>

<%- include ("../partials/footer") %>
<%- include ("../partials/after-footer") %>